
.container-1 {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-direction: column;
}

.NameTab {
    order:2; 
}

.drop_down {
    margin-top: 50px;
}

canvas {
    border:1px solid #ffffff;
    background-color: white;
    width: 'auto';
    height: 300px;
    margin-top: 50px;
    display: block;
}

.sortPage {
    order: 3;
    font-size: 80px;
    position: right;
}

.ProjectsTab {
    order:3;
}

.resume {
    order: 2;
    font-size: 160%;
    position: right;
}

.firstLine {
    font-size: 80%;
    font-family: "Helvetica";
    font-weight: normal;
    color:black;
}

.sortType {
    margin-top: 0px;
    align-content: "right";
    font-size: 10px;
    font-family: "Helvetica";
    font-weight: 300;
    color:black;
}

a:link {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
}

.topright {
  position: right;
}

.name {
    position: ;
    font-size:70px;
    font-weight: bold;
   
}

.sort {
    font-size:120%;
    color: darkslategray;
    position: left;
    
}

.topcenter {
    position:right;
}

@keyframes nameRotate {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(359deg);
    }
}