
.container-1 {
    display:flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
    flex-direction: row;
}

.NameTab {
    order:2; 
}

.drop_down {
    margin-top: 50px;
}

canvas {
    border:1px solid #000000;
    background-color: red;
    width: 'auto';
    height: 300px;
    margin-top: 50px;
    display: block;
}

.ProjectsTab {
    order:3;
}

.ResumeTab {
    order: 1;
}

.firstLine {
    font-size: 75%;
    font-family: "Helvetica";
    font-weight: 200;
    color:black;
}

a:link {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:active {
    text-align: center;
    color:black;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
}

.topright {
  position: absolute;
  right: 25px;
}

.topleft {
    position: absolute;
    left: 25px;
}

.topcenter {
    position:absolute;
    right: 0px;
    left: 0px;
}

@keyframes nameRotate {
    from {
        transform: rotateY(0deg);
    } to {
        transform: rotateY(359deg);
    }
}